<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='bootstrap.css') }}" />
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Sucess</title>
</head>
  <body class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh">
    <h2>Documento Processado<h2>
    <button type="button" onclick="window.location.href= '/'" class="btn btn-primary">Upload</button>
    <button type="button" onclick="window.location.href= '/transactions'" class="btn btn-primary">Transações</button>
  </body>
</html>
