.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-form {
background-color: #f8f9fa;
padding: 2rem;
border-radius: 1rem;
box-shadow: 0px 10px 15px #d9d9d9;
text-align: center;
}

.form-header {
margin-bottom: 2rem;
}

.form-header h1 {
font-size: 2rem;
font-weight: 600;
color: #343a40;
}

.form-body {
margin-top: 2rem;
}

.form-input {
display: none;
}

.form-label {
background-color: #007bff;
color: #fff;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
cursor: pointer;
}

.form-submit {
margin-top: 1rem;
background-color: #28a745;
color: #fff;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
border: none;
cursor: pointer;
}

.form-submit:hover {
background-color: #218838;
}
  